{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div>
    <h1>Index</h1>
    <p class="important">
      Welcome on my add_movie
      <form action = "/add_movie" METHOD = "POST">
        <input type= "text" placeholder="Name" name="name">
        <input type= "text" placeholder="Categorie" name="categorie">
        <input type="submit" value ="Add Movie">
      </form>
      <br/><br/>
      {% for movie in movies%}
      <h4>
        {{ movie.name}}
        {{ movie.categorie}}
       
      </h4>
      {% endfor %}
    </div>
  {% endblock %}