{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div>
    <h1>Movie Addition</h1>
    <p class="important">
      Insert movie informations:
      <form action = "/add_movie" METHOD = "POST">
        <input type= "text" placeholder="Name" name="name">
        <label for="categorie">Choose a categorie:</label>
        <select id="categorie" name="categorie">
          <option value="horror">horror</option>
          <option value="comedy">comedy</option>
          <option value="adventure">adventure</option>
          <option value="drama">drama</option>
        </select>
      </br>
    </br>
  </br>

  <textarea name="description">Enter text here...</textarea>
        <input type="submit" value ="Add Movie">
      </form>
    </div>
  {% endblock %}